.scoresheet-root {
  height: 300px;
  width: 140px;
  border: 1px solid grey;
  border-radius: 10px;
  position: absolute;
  top: 146px;
  right: 16vw;
  @media (max-width: 992px) {
    position: sticky;
    height: 64px;
    width: 456px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }
  @media (max-width: 568px) {
    flex-direction: column;
    margin-top: 24px;
    height: 110px;
    width: 200px;
  }

  .scoresheet-title {
    text-align: center;
    padding: 4px;
    color: white;
    font-size: 20px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 36px;
    @media (max-width: 992px) {
      margin-bottom: 4px;
      font-size: 24px;
    }
  }

  p {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 18px;
    @media (max-width: 992px) {
      margin: 0px 8px;
    }

    &.num {
      @media (max-width: 992px) {
        margin: 0px 12px 0px 2px;
      }
      @media (max-width: 568px) {
        margin: 0px;
      }
    }
  }
}